@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Poppins Rounded Rounded';
    src: url('PoppinsRounded-Rounded.ttf');
  }

body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: 'Poppins Rounded Rounded', sans-serif;
    font-size: 100%;
}

a{
    text-decoration: none;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    color: #000;
    margin-right: 40px;
}
/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content img{
    width: 220px;
    height: 220px;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 0px;

}


.carousel .list .item .content{
    position: absolute;
    top: 3%;
    width: 1140px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
}

.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
}
.carousel .list .item .buttons{
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 60px;
    left: 70%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 10px;
}
.thumbnail .item{
    width: 80px;
    height: 120px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.thumbnail .item .content{
    color: #000;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
    /* Container for the buttons */
.arrows {
    position: absolute;
    bottom: 10%;
    left: 2%;
    z-index: 100;
    width: 70%;
    max-width: 66%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }
  
  /* Base styling for buttons */
  .arrows button {
    font-family: 'Poppins', sans-serif;
    height: 40px;
    font-size: 95%;
    font-weight: 500;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent; /* Add default transparent border */
}
  .arrows button.active {
    transform: scale(1.07);
    border: 4px solid #000000 !important;
    box-shadow: 0 0 25px rgb(0, 0, 0);
    position: relative;
    z-index: 2;
}
  
  /* Hover effect */
  .arrows button:hover {
    opacity: 0.8;
  }
  
  /* Different background colors for each button */
  .arrows button:nth-child(1) {
    background-color: #FFD700; /* Gold */
    color: #000000;
  }
  .arrows button:nth-child(2) {
    background-color:  #E60000; /* Orange Red */
    color: #fff;
  }
  .arrows button:nth-child(3) {
    background-color:  #153a8b; /* Dodger Blue */
    color: #fff;
  }
  .arrows button:nth-child(4) {
    background-color: #32CD32; /* Lime Green */
    color: #fff;
    font-size: 94%;
  }
  
/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */
.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}
@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */
.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}
.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}

/* prev click */
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}
.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}

/* controls for slider in banner */
.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.controls button {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
}



.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

    /* Animation for the cart */
    .cart-icon {
        font-size:20px;
        animation: bounce 1s infinite alternate;
      }
  
      /* Keyframes for bouncing effect */
      @keyframes bounce {
        0% { transform: translateY(0); }
        50% { transform: translateY(15px); }
        100% { transform: translateY(-15px); }
      }